################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ansible.Test1/v15/Server/sqlite3
/.vs/Ansible.Test1/v15
/.vs/config
